

<%- include('../layouts/headeruser.ejs') %>      
<style>
    .scrollable-container {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        margin: 20px 0;

    }
    .scrollable-container::-webkit-scrollbar{
        height: 0px;
    }

    .card {
        display: inline-block;
        padding: 0px;
        width: 200px;
        margin-right: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
    }
</style>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Seek & Find Your<br>Unique Time!</div>
                <div class="masthead-subheading">Crafted for elegance,<br>Fashioned for sophistication,<br>Engineered for punctuality,<br>our exquisite timepieces are now available to all</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#cards">explore now</a>
            </div>
        </header>
        <section class="pb-2 page-section" id="cards">
            <div class="container p-0 px-lg-5 mt-5">
                <div class="d-flex align-items-center justify-content-between ms-0">
                    <a href="#" class="text-black display-5 text-decoration-none bestlink"> Best Sellers</a>
                </div>
                <div class="row justify-content-center">
                    <div class="scrollable-container">
                        <% for (const product of products) { 
                            if(product.is_listed){%>
                            <div class="card">
                                        <% if (product.image.length > 0) { %>
                                            <a style="height: 200px;" href="/product-details?id=<%= product._id %>">
                                                <img style="height: 200px;" class="card-img-top" src="/assets/img/product/<%= product.image[0] %>" alt="..." />
                                            </a>
                                        <% } else { %>
                                            <a style="height: 200px;" href="/product-details?id=<%= product._id %>">
                                                <img style="height: 200px;" class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            </a>
                                        <% } %>
                                        <div class="card-body ps-4 pe-4 pt-4 pb-2">
                                            <div class="text-center">
                                                <div style="height: 50px; overflow: hidden; margin-bottom: 20px;">
                                                    <a class="text-decoration-none" href="/product-details?id=<%= product._id %>">
                                                        <h5 class="text-dark fw-bolder" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; text-overflow: ellipsis;"><%= product.name %></h5>
                                                    </a>
                                                </div>
                                                <% if (product.discount_price) { %>
                                                    <h6 class="text-muted">₹<%= product.discount_price %> - <s>₹<%= product.price %></s></h6>
                                                <% } else { %>
                                                    <h6 class="text-muted">₹<%= product.price %></h6>
                                                <% } %>
                                            </div>
                                        </div>
                            </div>
                        <% } } %>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-2 page-section" id="cards">
            
            <div class="container p-0 px-lg-5 mt-5">
                <div class="d-flex align-items-center justify-content-between ms-0">
                    <a href="#" class="text-black display-5 text-decoration-none bestlink">New Arrival</a>
                </div>
                <div class="row justify-content-center">
                    <div class="scrollable-container">
                        <%products.sort((a, b) => new Date(b.productAddDate) - new Date(a.productAddDate));  for (const product of products) { 
                            if(product.is_listed){ %>

                            <div class="card">
                                        <% if (product.image.length > 0) { %>
                                            <a style="height: 200px;" href="/product-details?id=<%= product._id %>">
                                                <img style="height: 200px;" class="card-img-top" src="/assets/img/product/<%= product.image[0] %>" alt="..." />
                                            </a>
                                        <% } else { %>
                                            <a style="height: 200px;" href="/product-details?id=<%= product._id %>">
                                                <img style="height: 200px;" class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            </a>
                                        <% } %>
                                        <div class="card-body ps-4 pe-4 pt-4 pb-2">
                                            <div class="text-center">
                                                <div style="height: 50px; overflow: hidden; margin-bottom: 20px;">
                                                    <a class="text-decoration-none" href="/product-details?id=<%= product._id %>">
                                                        <h5 class="text-dark fw-bolder" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; text-overflow: ellipsis;"><%= product.name %></h5>
                                                    </a>
                                                </div>
                                                <% if (product.discount_price) { %>
                                                    <h6 class="text-muted">₹<%= product.discount_price %> - <s>₹<%= product.price %></s></h6>
                                                <% } else { %>
                                                    <h6 class="text-muted">₹<%= product.price %></h6>
                                                <% } %>
                                            </div>
                                        </div>
                            </div>
                        <%} } %>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>

                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="text-light" style="font-size: 18px;">
                                <i class="fas fa-phone"></i> &nbsp; &nbsp; +91 9074914690
                            </div>
                            <div class="text-light" style="font-size: 18px;">
                                <!-- Email address input-->
                                <!-- <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div> -->
                                <i class="fa-solid fa-at"></i> &nbsp; &nbsp; theviewportal@gmail.com
                            </div>
                            <div class="text-light" style="font-size: 18px;">
                                <i class="fas fa-location-dot"></i> &nbsp; &nbsp; Edathuruthikaran Holdings, 10/450-2, Kundannoor, Maradu, Ernakulam, Kerala 682304
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <!-- <a href="https://startbootstrap.com/solution/contact-forms"></a> -->
                        </div>
                    </div>

                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
                </form>
            </div>
        </section>
        <!-- Footer-->
<%- include('../layouts/footeruser.ejs') %>


    