<%- include('../layouts/headeruser.ejs') %>      
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

<style>
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
  }

  .main {
      flex-grow: 1;
  }

  .footer {
      background-color: #000000;
      color: #ffc800;
      width: 100%;
      flex-shrink: 0;
  }

  .nav-item .nav-link.active {
      background-color: rgb(189, 189, 189);
      /* Change this to the desired color */
      /* You can add other styling properties as needed */
  }
</style>
<main class="main">

  <section class="pt-150 pb-150">
    <div class="mb-4">
      
      <div class="card mx-3">
          <table id="datatablesSimple">
              <thead>
                  <tr>
                      <th>Order</th>
                      <th>Order Date</th>
                      <th>Delivery Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <th>Order</th>
                      <th>Order Date</th>
                      <th>Delivery Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
              </tfoot>
              <tbody>
                  <% order.forEach(order_data => { %>
                      <tr>
                          <td><%= order_data._id %></td>
                          <td><%= new Date(order_data.orderDate).toLocaleDateString() %></td>
                          <td><%= new Date(order_data.deliveryDate).toLocaleDateString() %></td>
                          <td>
                            <% let f = 0;
                               order_data.items.forEach(function(item) {
                                   if(item.status !== 'Cancelled' && item.status !== 'Delivered' && item.status !== 'Returned') {
                                       f = 1;
                                   }
                               });
                               if (f === 0) { %>
                                   Completed
                               <% } else { %>
                                   Pending
                               <% } %>
                          </td>
                          <td><a href="/orderDetails/<%= order_data._id%>"  class="btn btn-primary btn-sm d-block text-decoration-none">View</a></td>
                      </tr>
                  <% }); %>
              </tbody>
          </table>
      </div>
  </div>
      <!-- <div class="container">
    
          <div class="row">
              <div class="col-lg-12 m-auto">
          
                  <div class="row">
                      <div class="col-md-12">
                        <div class="row">


                            <% order?.forEach(order_data=> {
                              %> <div class="col-lg-12">
                                <div class="card mt-3 mb-lg-0">
                                  <div class="card-header">
                                    <h5 class="mb-0">
          
                                   
          
          
                                      
                                          <div class="d-flex justify-content-between">
                                            <div>
                                              <span>
                                               Order Id: <%= order_data._id %>
                                              </span>
                                            </div>
                                            <div>
                                              <span>
          
                                                <a href="/orderDetails/<%= order_data._id%>" class="btn-small d-block">View</a>
                                              </span>
                                            </div>
                                          </div>
          
                                      
                                    </h5>
                                  </div>
                               <%order_data.items.forEach((item_value)=>{ %>
                           <div class="card-body row">
                                    <div class="col-5">
                                        <div class="d-flex align-items-center">
                    <img style="width: 45px; height: 45px; border-radius: 5px; border: 1px solid #747474;" src='/assets/img/product/<%=item_value.product.image[0]%>' alt="<%= item_value.image%>"/>
                    <div class="ms-3">
                      <p class=" fw-bold mb-1">
                        <%= item_value.product.name %>
                      </p>

                    </div>
                  </div>
                                  
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-1">
                                        <%= item_value.price %>
                                        </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 ">
                                        <div class="_3SbeKb _2cm2Hi"></div>
                                 
                                       <% if ( item_value.status =='Delivered') {%>
                                        <span class="fw-900">Delivered on  <%= new Date(order_data.deliveryDate).toLocaleDateString() %></span>
                          
     <%
                                       }else{%>
                                        <span class="fw-900">Arriving  on  <%= new Date(order_data.deliveryDate).toLocaleDateString() %></span>
                                      <%
                                       }%>
                                 
                                       <% if (item_value.status =='Delivered') {%>
                                        <div class="fw-300">Your item has been delivered   <%= item_value.status %></div>
                                       <% }else{%>
                                 
                                        <div class="fw-300">Your item has been received in the hub nearest to you</div>
                                        <%
                                       }%>
          
                                     
                                    </div>
                                
                                  </div>

                                <%}) %>
                                  
                                  
                                </div>
                              </div>
          
          
          
          
          
          
          
          
                              <%
                        }); %>
                          </div>
                           
                                  

                                
                                     
                                      
                                       
                                 
                                  </div>
                       
                           
                         
                            
                     
                  </div>
              </div>
          </div>
      </div> -->
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script>
    window.addEventListener('DOMContentLoaded', event => {
        // Simple-DataTables
        // https://github.com/fiduswriter/Simple-DataTables/wiki
        const datatablesSimple = document.getElementById('datatablesSimple');
        if (datatablesSimple) {
            new simpleDatatables.DataTable(datatablesSimple);
        }
    });

    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>
<%- include('../layouts/footeruser.ejs') %>
