<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>PRECIZN</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/logoSign.png" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/stylesadmin.css" rel="stylesheet"/>
  <link href="/styles.css" rel="stylesheet" />

<!-- Add this in your HTML or EJS file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>

<body id="page-top">
  <!-- Navigation-->
    <nav  style="background-color: black; z-index: 2000;" class=" navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
        <div class="container-fluid ms-3">
            <div class="d-flex">
                <a class="navbar-brand" href="/"><img src="/logo.png" alt="..."></a>
                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 nav-link text-light" id="sidebarToggle" href="#!"><i class=" fas fa-bars"></i></button>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#team"></a></li> -->
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <% if (user) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i id="profileicon" class="fas fa-bars"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end " style="background-color: black;"  aria-labelledby="navbarDropdown">
                                <li><a class="nav-link ms-3" href="/profile"><i class="fa-solid fa-user"></i>&nbsp;Profile</a></li>
                                <li><a class="nav-link ms-3" href="#!"><i class="fa-solid fa-heart"></i>&nbsp;Wishlist</a></li>
                                <li><a class="nav-link ms-3" href="/cart"><i class="fa-solid fa-cart-shopping"></i>&nbsp;Cart</a></li>
                                <li><a class="nav-link ms-3" href="/orderSuccess"><i class="fa-solid fa-box-open"></i>&nbsp;Orders</a></li>
                                <li><a class="nav-link ms-3" href="#!"><i class="fa-solid fa-gear"></i>&nbsp;Settings</a></li>
                                <hr style="color: white;">
                                <li><a class="nav-link ms-3" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</a></li>
                            </ul>
                        </li>
                    <% } else{%>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <% }%>            
                </ul>
            </div>
        </div>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" style="position: fixed; overflow: auto; justify-content: center; height: 100%;  width: 200px; background-color: black;">
            <nav style="background-color: black; padding-top: 20px;" class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="pt-5 sb-sidenav-menu">
                    <div class="nav">
                        <div style="padding-left: 40px; font-size: larger; color: white;" class="sb-sidenav-menu-heading">
                            Category
                        </div>
                        <hr style="color: white;">
                        <% for (const cat of category) { 
                            if(cat.is_listed==true){ %>
                                <div class="sb-nav-link-icon" style="color: white; display: flex; flex-direction: column; align-items: center;">
                                    <a style="color: white; padding-left: 40px; display: flex; align-items: center;" class="nav-link" href="#" data-category-id="<%= cat.id %>">
                                        <i class="fas fa-plus-circle" style="display: inline;"></i>
                                        <i class="fas fa-minus-circle" style="display: none;"></i>
                                        &nbsp; <%= cat.name %>
                                    </a>
                                    <div class="subcategory" id="subcategory_<%= cat.id %>" style="display: none;">
                                        <% for (let i=0; i<cat.sub_category.length; i++) { %>
                                            <div class="ps-5 py-3 text-light"><a class="text-decoration-none text-light" href=""><%= cat.sub_category[i] %></a></div>
                                        <% } %>
                                    </div>
                                </div>
                        <% } } %>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <section style="padding-left: 12.5rem;" class="py-5">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5  justify-content-left">
                            <% for (const product of products) { 
                                if(product.is_listed==true){
                                %>
                                <div class="col mb-4"> <!-- Adjusted mb-4 instead of mb-5 -->
                                    <div class="card h-100" style="max-width: 230px;"> <!-- Added max-width to limit card size -->
                                        <!-- Sale badge
                                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem;">Sale</div>
                                        Product image -->
                                        <% if (product.image.length > 0) { %>
                                            <a style="height: 200px; margin: 10px;" href="/product-details?id=<%= product._id %>">
                                                <img style="height: 200px;" class="card-img-top" src="/assets/img/product/<%= product.image[0] %>" alt="..." />
                                            </a>
                                        <% } else { %>
                                            <a style="height: 200px; margin: 10px;" href="/product-details?id=<%= product._id %>">
                                                <img style="height: 200px;" class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            </a>
                                        <% } %>
                                        <!-- Product details-->
                                        <div class="card-body pt-0 pb-0 p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <div style="height: 50px; overflow: hidden; margin-bottom: 0px;">
                                                    <a class="text-decoration-none" href="/product-details?id=<%= product._id %>">
                                                        <h6 class="text-dark fw-bolder" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; text-overflow: ellipsis;"><%= product.name %></h6>
                                                    </a>
                                                </div>
                                                <!-- Product price-->
                                                <% if (product.discount_price) { %>
                                                    <h6 class="text-muted">₹<%= product.discount_price %> - <s>₹<%= product.price %></s></h6>
                                                <% } else { %>
                                                    <h7 class="text-muted">₹<%= product.price %></h7>
                                                <% } %>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="d-flex justify-content-around card-footer px-4 pt-0 pb-3 border-top-0 bg-transparent">
                                            <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Buy Now</a></div>
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#"><i class="fa-solid fa-cart-shopping"></i></a></div> -->
                                            <% if (product.stock<=0) { %>
                                                <div class="text-center">
                                                    <a class="text-danger text-decoration-none mt-auto" href="#">Out of Stock</a>
                                                </div>
                                            <% } else { %>
                                                <!-- <div class="text-center">
                                                    <a  href="/product-details?id=<%= product._id %>" class="btn btn-outline-dark btn-sm mt-auto" href="#">Buy Now</a>
                                                </div> -->

                                                <style>
                                                    .checked {
                                                      color: orange;
                                                    }
                                                </style>

                                                <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
                                                <div class="text-center">
                                                    <form id="myForm<%= product._id %>">                   
                                                        <div class="product-action-1 show">
                                                            <input type="hidden" value="<%= product._id %>" name="productData_id"> 
                                                            <input type="hidden" value="1" name="qty">
                                                            <button type="submit" aria-label="Add To Cart" class="action-btn btn btn-outline-dark btn-sm hover-up">
                                                                <i class="fa-solid fa-cart-shopping"></i>                                                        
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            <% } %>

                                        </div>
                                    </div>
                                </div>
                            <%} } %>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <footer style="background-color: #000000; padding-left: 12.5rem;" class="footer py-2">
        <div class="container">
            <div class="row align-items-center">
                <div style="color: #ffc800" class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" style="background-color: #ffc800"  href="#!" aria-label="Twitter"><i style="color: black;" class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" style="background-color: #ffc800" href="#!" aria-label="Facebook"><i style="color: black;" class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" style="background-color: #ffc800" href="#!" aria-label="LinkedIn"><i style="color: black;" class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a style="color: #ffc800" class=" text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a style="color: #ffc800" class=" text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
     <!-- Script for category links -->
<script>

// Function to show toast alert
function showToast(message, type) {
    Toastify({
        text: message,
        duration: 3000, // Duration in milliseconds
        gravity: 'bottom', // Position: 'top', 'bottom', 'left', 'right'
        backgroundColor: type === 'success' ? '#33cc33' : '#ff3333', // Change colors based on success/failure
    }).showToast();
}

// Function to handle form submission
function addcartform(event) {
    event.preventDefault();
    const formId = event.target.id; // Get the form ID that triggered the event
    const productData_id = document.querySelector(`#${formId} [name="productData_id"]`).value;
    const qty = document.querySelector(`#${formId} [name="qty"]`).value;

    fetch('/cart', {
        method: 'POST',
        body: JSON.stringify({ productData_id, qty }),
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then((response) => response.json())
    .then((data) => {
        if (!data.existing) {
            if (data.success) {
                showToast(data.message, 'success');
            } else {
                showToast(data.message, 'error');
            }
        } else {
            window.location.href = '/cart';
        }
    })
    .catch((error) => {
        console.error('Error:', error);
        showToast('Internal server error', 'error');
    });
}

// Add event listeners to all forms
const forms = document.querySelectorAll('form');
forms.forEach(form => {
    form.addEventListener('submit', addcartform);
});
  

// Category links script
    document.addEventListener('DOMContentLoaded', function() {
        const handleCategoryLinks = function(event) {
            if (event.target.classList.contains('nav-link')) {
                event.preventDefault();

                const categoryId = event.target.getAttribute('data-category-id');
                const subcategory = document.getElementById(`subcategory_${categoryId}`);
                const plusIcon = event.target.querySelector(`[data-category-id="${categoryId}"] .fa-plus-circle`);
                const minusIcon = event.target.querySelector(`[data-category-id="${categoryId}"] .fa-minus-circle`);

                if (subcategory.style.display === 'none') {
                    subcategory.style.display = 'block';
                    plusIcon.style.display = 'none';
                    minusIcon.style.display = 'inline';
                    event.target.parentElement.style.backgroundColor = 'grey'; // Change background color
                } else {
                    subcategory.style.display = 'none';
                    plusIcon.style.display = 'inline';
                    minusIcon.style.display = 'none';
                    event.target.parentElement.style.backgroundColor = 'black'; // Reset background color
                }
            }
        };

        // Attach the event listener to the parent container (.nav) using event delegation
        document.querySelector('.nav').addEventListener('click', handleCategoryLinks);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script src="/scriptsadmin.js"></script>

</body>

</html>